/* You can add global styles to this file, and also import other style files */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: calibri;
}

.outer-container{
    position: relative;
    display: grid;
    grid-template-columns: 240px auto;
    height: 100vh;
    .text{
        padding: 20px;
    }
}


